@page "/courses/menu"

<div class="container">
    <h3>Courses</h3>
    <p>Select</p>
    <div class="menu-buttons">
        <a class="btn-theme-s" href="courses/create">Create Course</a>
        <a class="btn-theme-s" href="courses/view">View Courses</a>
        <a class="btn-theme-s" href="courses/update">Update Course</a>
        <a class="btn-theme-s" href="courses/delete">Delete Course</a>
    </div>
</div>

@code {

}
