@page "/courses/menu"

<PageTitle>Course menu</PageTitle>

<section class="backoffice-menu">
    <div class="container">
        <h3>Courses</h3>
        <p>Select</p>
        <div class="menu-buttons">
            <a class="btn-theme-s" href="courses/create">Create Course</a>
            <a class="btn-theme-s" href="courses/view">View Courses</a>
        </div>
    </div>
</section>

@code {

}
