@page "/users/update/{userId}"
@attribute [Authorize]

<PageTitle>Update User</PageTitle>

<div class="container">
    <h2>Update User</h2>
    <EditForm>

    </EditForm>
</div>


@code {
    //Sida för att uppdatera en user
}