@page "/users/menu"

<div class="container">
    <h3>Users</h3>
    <p>Select</p>
    <div class="menu-buttons">
        <a class="btn-theme-s" href="users/view">View Users</a>
        <a class="btn-theme-s" href="users/update">Update User</a>
        <a class="btn-theme-s" href="users/delete">Delete User</a>
    </div>
</div>

@code {

}
