@page "/admin"
@attribute [Authorize]
<PageTitle>Admin menu</PageTitle>

<section class="backoffice-menu">
    <div class="container">
        <h3>Admin</h3>
        <p>Select an option:</p>
        <div class="menu-buttons">
            <a class="btn-theme-s" href="admin/view">View Admins</a>
            <a class="btn-theme-s" href="admin/roles">Admin Role Management</a>
            <a class="btn-theme-s" href="admin/delete">Delete Admin</a>
        </div>
    </div>
</section>

@code {
    //Meny för att navigera till olika sidor som hanterar admins
}
