@page "/"

<PageTitle>Silicon Backoffice</PageTitle>


<section class="home">
    <div class="container">
    <div class="welcome-text">
        <h1>Welcome to our platform!</h1>

        <p>Silicons backoffice app</p>
    </div>
    <img src="/images/illustration.svg" alt="person working at a desk with a laptop" />
</div>
</section>
