@page "/subscribers/menu"

<PageTitle>Subscriber menu</PageTitle>

<section class="backoffice-menu">
    <div class="container">
        <h3>Subscribers</h3>
        <p>Select</p>
        <div class="menu-buttons">
            <a class="btn-theme-s" href="subscribers/view">View Subscribers</a>
            <a class="btn-theme-s" href="subscribers/update">Update Subscriber</a>
            <a class="btn-theme-s" href="subscribers/delete">Delete Subscriber</a>
        </div>
    </div>
</section>

@code {

}
